In [1]:
import pandas as pd

In [2]:
def henkan(nen):
    df = pd.read_csv(f"mooncal{nen}.csv",encoding="sjis")
    df["月日"] = f"{nen}/" + df["月日"]
    df["月日"] = pd.to_datetime(df["月日"], format="%Y/%m/%d")
    return df

In [3]:
a = [
    2008,
    2009,
    2010,
    2011,
    2012,
    2013,
    2014,
    2015,
    2016,
    2017,
    2018,
    2019,
    2020
]

arr = []

for v in a:
    arr.append(henkan(v))

In [4]:
len(arr)

13

In [5]:
df = pd.concat([
    arr[0],
    arr[1],
    arr[2],
    arr[3],
    arr[4],
    arr[5],
    arr[6],
    arr[7],
    arr[8],
    arr[9],
    arr[10],
    arr[11],
    arr[12]
])

In [6]:
df

            月日     黄経差     月齢 こよみ 気象庁 MIRC
0   2008-01-01  278.77  22.39  小潮  小潮   小潮
1   2008-01-02  289.65  23.39  小潮  長潮   長潮
2   2008-01-03  300.47  24.39  小潮  若潮   若潮
3   2008-01-04  311.32  25.39  長潮  若潮   中潮
4   2008-01-05  322.24  26.39  若潮  中潮   中潮
..         ...     ...    ...  ..  ..  ...
361 2020-12-27  145.92  12.45  中潮  中潮   中潮
362 2020-12-28  157.00  13.45  中潮  中潮   中潮
363 2020-12-29  168.28  14.45  大潮  大潮   大潮
364 2020-12-30  179.77  15.45  大潮  大潮   大潮
365 2020-12-31  191.50  16.45  大潮  大潮   大潮

[4749 rows x 6 columns]

In [7]:
df[["月日","月齢"]].to_pickle("月齢.pkl")